
body{
   /*background-color: rgb(245, 244, 244);*/
   background-color: rgb(201, 199, 199);
}
.divColor{
    background-color: red;
}
.cantCarrito{
   background-color: rgb(255, 115, 0);
   padding: 2px;
   border-radius: 50px;
   color: black;
   margin-left: 5px;
   margin-right: 5px;
}
.btnCarrito-light{
   color: rgb(255, 255, 255);
   background: none;
   border: none;
   font-size: 20px;
   margin-right: 10px;
}
.frasePagina{
   color: white;
   font-size: 40px;
   text-align: center;
   margin-top: 30px;
}
.cards{
   justify-content: center;
   margin: 30px;
}
.card{
   width: 18rem;
   margin: 15px;
   border-radius: 10px;
   border: none;
}
.imagenCard{
   width: 200px;
   height: 200px;
}
.btnNavbar{
   color: white;
}
.cardDetalle{
   width: 500px;
   height: 200px;
   display: flex;
   flex-direction: row;
  justify-content: center;
  margin-left: 300px;
  margin-top: 100px;
}
.contenedorFinalCardDetalle{
   display: flex;
}
.botonCardDetalle{
  border: red;
}
.contenedorCardDetalle{
  background: none;
}
.card-body-detalle{
   margin-left: 0px;
}
.itemDetail{
  max-width: 540px;
  margin-top: 30px;
}
.btn-final{
  width: 200px;
  height: 50px;
  margin-left: 100px;
  margin-top: 10px;
}
.card-title{
  text-transform: uppercase;
}
.card-price{
  color: rgb(5, 119, 5);
}
.botonCardDetalle{
  font-size: 20px;
  height: 40px;
}
.botonAgregar{
  margin-left: 20px;
}
.img-card-detalle{
  width: 200px;
  height: 200px;
}
.darkMode{
  background-color: black;
}
.darkModeCarrito{
  background-color: black;
  padding-bottom: 600px;
}
.cardDark{
  background-color: grey;
  color: black;
  width: 18rem;
  margin: 15px;
  height: 400px;
  border-radius: 10px;
  border: none;
}
.bodyItemDetailDark{
   width: 500px;
   height: 200px;
   display: flex;
   flex-direction: row;
  justify-content: center;
  margin-left: 300px;
  margin-top: 100px;
  color: white;
}
.cartContainer{
  margin-top: 3%;
}
.divButtons button{
  margin-top: 20px;
}
.cardCart{
 max-width: 540px;
}
.form-label {
  margin-bottom: 0.5rem;
  color: #2780e3;
}
.container .cartContainer{
  background-color: rgb(255, 0, 0);
}
.resumenDeCompra{
  color: rgb(141, 117, 117);
}
.carritoVacio{
  margin-top: 80px;
  margin-left: 550px;
}
.sinProductosLink{
  margin-top: 20px;
  margin-left: 150px;
}
.sinProductos{
  margin-top: 80px;
  margin-left: 450px;
}

.botonAgregar{
  width: 100px;
}