.divColor{
    background-color: red;
}
.cantCarrito{
   background-color: rgb(255, 115, 0);
   padding: 3px;
   border-radius: 50px;
   color: black;
}
.btnCarrito{
   color: black;
   background-color: rgb(139, 139, 139);
   border: none;
   font-size: 20px;
}
.frasePagina{
   color: white;
   font-size: 40px;
   text-align: center;
   margin-top: 30px;
}
.cards{
   justify-content: center;
   margin: 30px;
}
.card{
   width: 18rem;
   margin: 15px;
   background-color: rgb(245, 244, 244);
   border-radius: 5px;
   border: none;
}
.imagenCard{
   width: 200px;
   height: 200px;
}
.btnNavbar{
   color: white;
}

